<div class="jumbotron jumbotron-fluid">
    <div class="container-fluid text-center">
        <h1 class="display-4">Mockingbird - Los Angles, CA</h1>
        
        <section id="contact">
            <div class="container-lg">
              
              <div class="text-center">
                <p class="lead">Any questions, just ask.</p>
              </div>
              <div class="row justify-content-center my-5">
                <div class="col-lg-6">
                  
                  <form action="https://formsubmit.co/jonathanslauter@gmail.com" method="POST">
                    <label for="email" class="form-label">Email address:</label>
                    <div class="input-group mb-4">
                      <span class="input-group-text">
                        <i class="bi bi-envelope-fill text-secondary"></i>
                      </span>
                      <input type="text" id="email" name="email" class="form-control" placeholder="e.g. mail@example.com" />
                      <!-- tooltip -->
                      <span class="input-group-text">
                        <span class="tt" data-bs-placement="bottom" title="Enter an email address we can reply to.">
                          <i class="bi bi-question-circle text-muted"></i>
                        </span>
                      </span>
                    </div>
                    <label for="name" class="form-label">Name:</label>
                    <div class="mb-4 input-group">
                      <span class="input-group-text">
                        <i class="bi bi-person-fill text-secondary"></i>
                      </span>
                      <input type="text" id="name" name="name" class="form-control" placeholder="e.g. Jon" />
                      <!-- tooltip -->
                      <span class="input-group-text">
                        <span class="tt" data-bs-placement="bottom" title="Pretty self explanatory really...">
                          <i class="bi bi-question-circle text-muted"></i>
                        </span>
                      </span>
                    </div>
                    <label for="subject" class="form-label">What is your question about?</label>
                    <div class="mb-4 input-group">
                    </div>
                    <div class="mb-4 mt-5 form-floating">
                      <textarea class="form-control" name="textarea" id="query" style="height: 140px" placeholder="query"></textarea>
                      <label for="query">Your query...</label>
                    </div>
                    <div class="mb-4 text-center">
                      <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                    <input type="text" name="_honey" style="display:none">
                  </form>
                </div>
              </div>
            </div>
          </section>
    </div>

  </div>