<div class="row flex-lg-row-reverse align-items-center g-5 pt-4 mb-4">
  <div class="col-12 col-lg-6">
    <img src="/img/audiobook.png" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking With Node.js">
  </div>

  <div class="col-12 col-lg-6">
    <h1 class="display-1">Mockingbird</h1>
    <p class="lead">Crowdsourced music playlists for that book you're reading, that boardgame you're losing at or something else you like to do</p>
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
      <div class="dropdown">
        <button class="btn btn-primary btn-dark btn-lg px-4 me-md-2 dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Explore
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/explore-latest">Books</a>
          <a class="dropdown-item" href="/explore-latest-graphic_novels">Graphic Novels / Comics</a>
          <a class="dropdown-item" href="/explore-latest-games">Games</a>
          <a class="dropdown-item" href="/explore-latest-micell">Miscellaneous</a>
          <a class="dropdown-item" href="/explore-latest-all">Everything</a>
        </div>
      </div>
      <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show Random</a>
    </div>
    <div class="col mt-3">
      <form method="POST" action="/search">
        <input type="search" name="searchTerm" class="form-control" placeholder="Search for book/game..." aria-label="Search">
      </form>
  </div>
  </div>

</div>

<!-- Latest Start -->

<section class="pb-4">
  <div class="d-flex mb-2 align-items-center">
    <h2>Recent listings</h2>
    <a href="/explore-latest" class="ms-auto">View More</a>
  </div>

  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

    <% if(books != '') { %>
      <% books.latest.forEach(function(book, index){ %>
      <a href="/book/<%= book._id %>" class="col text-center category__link">
        <div class="category__img category__img--large shadow">
          <img src="<%= book.image %>" alt="<%= book.name %>" loading="lazy">
        </div>
        <div class="pt-1"><%= book.name %></div>
      </a>
      <% }) %>
    <% } else { %>
      <p>No items found.</p>
    <% } %>
  </div>

</section>
<!-- Latest End -->
